.app-title{
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    color: white;
}
.todo-app-container{
    height: 500px;
    width: 400px;
    display: block;
    margin: 5px auto;
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px;
    overflow: scroll;
}
.send{
    height: 50px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid white;
    cursor: pointer;
}
.send:hover{
   transform: rotate(360deg);
    transition: 1s;
    box-shadow: 0px 0px 10px 5px white;
}
.Input-container{
    border: 1px solid black;
    border-radius: 30px;
    width: 300px;
    padding: 15px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 16px;
}
.select{
    border: 1px solid black;
    border-radius: 30px;
    width: 150px;
    padding: 15px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 16px;

}
.todo-input-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;

}
.todo-item{
    font-size: 20px;
    border: 1px solid black;
    margin-top: 10px;
    border-radius: 8px;
    padding: 10px;
    
}